:host {
    display: flex;
    justify-content: center;
    /* background-color: #f6f6f6; */
    
}

.grid-ctn {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  

    
  
}

.pay-ctn > .grid-overleap {
    grid-row: 1;
    grid-column: 1;
}

.pay-ctn {
    /* width: fit-content;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 14px -5px;*/
 margin: 700px auto; 
    width: fit-content;
    max-width: 400px;
    display: grid;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 5px 14px -5px;
}

.pay-title {
    padding: 30px;
    background-color: rgb(226, 255, 240);
    color: rgb(121, 180, 136);
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.cards {
    width: 100%;
    padding: 20px 40px;
    box-sizing: border-box;
    max-width: 500px;
}

.cards > img {
    width: 100%;
}

.edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit > button {
    background-color: rgb(255, 255, 255);
    color: #000;
    border: solid 1px rgb(148, 148, 148);
    border-radius: 5px;
    padding: 6px 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
}

.edit > button:disabled {
    background-color: rgb(212, 212, 212);
    color:rgb(148, 148, 148);
    cursor: not-allowed;
}

.pay-form {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.pay-form input.amount {
    font-size: 17px;
}

.pay-form input.amount:read-only {
    border: 0;
    outline: none;
}

.pay-form label {
    font-weight: bold;
    color: rgb(46, 105, 61);
}

.pay-form input {
    border: solid 1px rgb(211, 211, 211);
    border-radius: 5px;
    height: 25px;
}

input.date {
    padding-left: 10px;
}

.form-line {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.form-line-double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: flex-end;
}

.pay-btn {
    width: 100%;
    color: #fff;
    background-color: rgb(0, 160, 99);
    border: none;
    border-radius: 5px;
    height: 40px;
    font-weight: bold;
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.pay-btn:disabled {
    background-color: rgb(212, 212, 212);
    color:rgb(148, 148, 148);
    transition: all .3s;
    cursor: not-allowed;
}

.pay-btn > img {
    height: 60%;
}
 
.title-ctn{
    
      height: 300px; 
     width:100%;
     background-repeat: no-repeat;


}


.description-donation{
  
    display: flex;
   width:100%;
   /* background-color: #F6F6F6; */
   padding-top: 218px;
   padding-left: 344px;

} 
.red{
    color: #b30000;
    font-weight: bold;
}
.ok-message{
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fade-in .3s;
}

.ok-icon{
    height: 100px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.donate-title {
    text-align: center;
}