mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    position: fixed;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 10px;
}
.navigation-items{
    position: -webkit-sticky;
    position: sticky;
}

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:active{
    color: #B30000 ;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* mat-toolbar{
   
} */

@media screen and (max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}
.bg-transparent{
    background-color: transparent;
    position: absolute;
    top:0;
    z-index: 2;
    

}
.bg-transparent *{
    color:#ffffff;
}

.bg-transparent .pink{
    color:#B30000;
    font-weight: bold;
}
/* #menu{
   
    width:35ps;
    height: 30px;
    margin: 30px 0 20px 20px;
    cursor: ponter;
}
.bar{
    height: 5px;
    width:100%;
    background-color: #ffffff;
    display:block;
    border-radius: 5px;

}
#bar1{
    transform:translateY(-px);

}
#bar3{
    transform: translateY(4px);
} */
.toggle-btn{
    outline: none;
    background: transparent;
    height:198%;
    border: none;
    cursor: pointer;
    padding:100px;
    box-sizing: content-box;
   
    
}

.menu {
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu > div {
    visibility: hidden;
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    
    background: #ff0000;
    border-radius: 3px;
    
    z-index: 1;
}

.sidenav {
    visibility: hidden;
}

@media screen and (max-width: 850px){
    .menu > div {
        visibility: visible;
    }

    .links {
        visibility: hidden;
    }

    .nav {
        display: none;
    }

    .menu:focus >.nav > ul,
    .menu:focus-within>.nav > ul, 
    .menu:active >.nav>.ul{
        display: flex;
        flex-direction: column;
        width: 80vw;
    }

    .sidenav {
        visibility: visible;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(2px);

        /* transition: all .5s; */
        animation: slide-in linear .4s;
    }

    @keyframes slide-in {
        from {
            left: -100px;
            opacity: 0;
        } to {
            left: 0;
            opacity: 1;
        }
    }

    .sidenav-list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: max-content;
        background-color: rgb(0, 0, 0);
        height: 100%;
        width: 400px;
    }
   
}