<mat-toolbar color="primary">
  <div>
    <a routerLink="/home">Prof4you</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="50px" class="navigation-items">
      <li>
        <a routerLink="/tutors">Tutors</a>
      </li>
      <li>
        <a routerLink="/about">About Us</a>
      </li>
      <li>
        <a routerLink="/donation">Donation</a>
      </li>
      <li>
        <a *ngIf="isAuthenticated" routerLink="/profile">My profile</a>
      </li>
      <li>
        <a *ngIf="!isAuthenticated"  (click)="showSignUpDialog()">Sign Up</a>
      </li>
      <li>
        <a *ngIf="!isAuthenticated" (click)="showSignInDialog()">Sign in</a>
      </li>
      <li>
        <a *ngIf="isAuthenticated" (click)="showLogoutDialog()">log out</a>
      </li>
    </ul>
  </div>
</mat-toolbar>