<mat-toolbar class="bg-transparent">
  
  <div>
    <a routerLink="/home"><span class="pink">Prof</span>foryou</a>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs class="links">
    <ul fxLayout fxLayoutGap="50px" class="navigation-items">
      <li>
        <a routerLink="/tutors" [queryParams]="{subject: 'all'}">Tutors</a>
      </li>
      <li>
        <a routerLink="/about">About Us</a>
      </li>
      <li>
        <a routerLink="/donation">Donation</a>
      </li>
      <li>
        <a *ngIf="isAuthenticated" routerLink="/profile">My profile</a>
      </li>
      <li>
        <a *ngIf="!isAuthenticated"  routerLink="/register">Sign Up</a>
      </li>
      <li>
        <a *ngIf="!isAuthenticated"  routerLink="/signin">Sign In</a>
      </li>
      <li>
        <a *ngIf="isAuthenticated" (click)= "logout()" routerLink="/">log out</a>
      </li>      
    </ul>
  </div>


  <div class="menu" (click)="this.menuIsOpen = !this.menuIsOpen">
    <div></div>
    <div></div>
    <div></div>
  </div> 
  <div class="sidenav" *ngIf="menuIsOpen" (click)="this.menuIsOpen = false">
    <div class="sidenav-list">
      <a routerLink="/tutors?subject=all">Tutors</a>
      <a routerLink="/about">About Us</a>
      <a routerLink="/donation">Donation</a>
      <a *ngIf="isAuthenticated" routerLink="/profile">My profile</a>
      <span></span>
      <a *ngIf="!isAuthenticated"  routerLink="/signin">Sign In</a>
      <a *ngIf="!isAuthenticated"  routerLink="/register">Sign Up</a>
      <a *ngIf="isAuthenticated" (click)= "logout()"  routerLink="/">log out</a>
    </div>
  </div> 
</mat-toolbar>