<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile>
        <div class="wrapper">
            <div class="title"><span class="red">Prof</span>foryou</div>
            <ul class="list">

                <li> <a routerLink="/tutors">Choose a subject tutor and master the skills.</a></li>
                <li> social facebook</li>
                <li> instagram</li>
                <li>youtube</li>

            </ul>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="wrapper">
            <div class="title">Useful Links</div>
            <ul class="list">
                <li><a routerLink="/help">Help </a></li>
                <li><a routerLink="/payment">Donate </a> </li>
                <li> <a routerLink="/privacy">Privacy policy </a></li>
                <li><a routerLink="termsandconditions">Terms & Conditions </a></li>
            </ul>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <!-- <div class="wrapper"> -->


        <form class="subscribe-form">
            <input class="email" type="email" placeholder=" &nbsp; Enter your email" type="text">
            <button type="button">Subscribe</button>
        </form>
        <!-- </div> -->
    </mat-grid-tile>
</mat-grid-list>