<div class="footer">
    <div class="wrapper">
        <div class="title">profforyou</div>
        <ul class="list">
            <li>Choose a subject tutor and master the skills. </li>
            <li> social facebook</li>
            <li> instagram</li>
            <li>youtube</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="title">Useful Links</div>
        <ul class="list">
            <li>Help </li>
            <li> FAQs</li>
            <li> Privacy policy</li>
            <li>Terms & Conditions</li>
        </ul>
    </div>
    <div class="wrapper">
        <div class="title">Subscribe</div>
       <form>
           <input  type= "email" placeholder="enter your email"> 
           <button>subscribe</button>
       </form>
          
        
    </div>
</div>

