mat-grid-tile {
    background: #ffff;
  

}
.red{
    color:#B30000;
    font-weight: bold;
}

div .title{
    top: 100px;
}

.title .list{
    font-size: 20px;
    display: inline-block;
   padding: 100px 0 90px;
   padding-left: 0;
   margin-top: 0;
   margin-bottom: 0;
   
} 
.wrapper .title{
    font-weight: bold;
}

.list button{
    display: block;
}

/* .wrapper button{
    background-color: #B30000;
    color: #ffff;
    border: none;
   height: 23px;
    width: 100px; 
    cursor: pointer;
    position:absolute;
} */
button{
    background-color: #B30000;
    color: #ffff;
    border: none;
   height: 35px;
    width: 120px; 
    cursor: pointer;
    position:absolute;
    border-radius: 10px;
}
 .email{
    background-color: #ffffff;
    
    border-radius: 10px;
    box-shadow: 2px 2px 15px;
    height: 54px;
    border: none;
    height: 35px;
 
    
    width: 200px;
  
    margin-left: 25px;
   


}
.subscribe-form{
    display: flex;
    flex-direction: row;
    align-items: center
;
justify-content: space-around;
width: 600px;
}