@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 300px;
  margin: 16px auto;
  font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;

}

/* The triangle form is achieved by a CSS hack */
.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: 95px;
  border: 12px solid transparent;
  border-bottom-color:#b30000;
}

.login-header {
  background: #b30000;
  padding: 10px; 
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-right: 71px;
  margin-left: -24px;
  /* padding-right: 65px; */
  /* padding-left:40px; */
  justify-content: center;;
margin-right:12px;
}

.login-container {
  background: #ffff;
  padding: 12px;
  margin-left:-19px;
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  /* width: 100%; */
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  width:233px;
  margin-left: -19px;
  margin-right: 70px;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #b30000;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
  padding-right: 110px;
  border-radius: 10px;
  padding-left: 84px;
}

.login input[type="submit"]:hover {
  background: #000000;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #b30000;
}


.control-label.required:after { 
  color: #d00;
  content: "*";
  position: absolute;
  margin-left: 5px;
  top:7px;
}