<div class="login" id="mat-dialog">
  <!-- <div class="login-triangle"></div> -->
  <h2 class="login-header">Sign-up</h2>
  <form class="login-container" [formGroup]="form" (ngSubmit)="createUser()">

    <div class="form-group">
      <div class="col-sm-12" [ngClass]="displayFieldCss('firstName')">
        <label for="firstName" class="control-label">Firstname</label>
        <input type="text" id="firstName" class="form-control" formControlName="firstName">
        <app-field-error-display [displayError]="isFieldValid('firstName')" errorMsg="Please inform your firstName">
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="lastName" class="control-label">Lastname</label>
        <input type="text" id="lastName" class="form-control" formControlName="lastName">
        <app-field-error-display [displayError]="isFieldValid('lastName')" errorMsg="Please inform your lastName">
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="email" class="control-label">Email</label>
        <input type="text" id="email" class="form-control" formControlName="email">
        <app-field-error-display [displayError]="isFieldValid('email')" errorMsg="Please inform your email">
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <label for="password" class="control-label">Password</label>
        <input type="password" id="password" class="form-control" formControlName="password">
        <app-field-error-display [displayError]="isFieldValid('password')" errorMsg="Please inform your password">
        </app-field-error-display>
      </div>
    </div>

    <div class="form-group is-tutor">
      <label for="is-tutor">Registering as a tutor</label>
      <input type="checkbox">
    </div>

    <button type="submit" class="submit-btn" [disabled]="!form.valid">
      Sign-up
    </button>


  </form>
</div>