<div></div>
<!-- <div class="navbar-room"></div>
<ng-container *ngIf="ads.length>0">
    <h1 class="active-ads-title">Active Ads</h1>
    <div class="active-ads">
        <div class="ad" *ngFor="let ad of ads">
            <div class="ad-img">
                <img src="{{ad.src}}">
            </div>
            <div class="info">
                <div class="old-Password">
                    {{ad.old-Password}}
                </div>
                <div class="new-Password">
                    {{ad.new-password}}

                </div>
               
            </div>


        </div>
    </div>
    <hr>
</ng-container>


<div class="create-ctn">
    <h1>My Account</h1>
    <div>
        <label for="ad-img">
            Profile Photo:
        </label>
        <input type="file" name="ad-img ">
        <img id="preview" src="">
    </div>
    <h2>Change password</h2>
    <div class="field">
        <label for="old">
            old Password:
        </label>
        <input #title type="text" name="old ">
    </div>

    <div class="field">
        <label for="New">
            New pasword":
        </label>
    </div>



    <button (click)="changePassword(old, new)"> Create</button>

</div> -->