<div class="navbar-room"></div>

<div class="student-ctn">
    
    <div class="info box">
        <div class="section-title">General Information ℹ️</div>
        <label for="firstName">First Name:</label>
        <input type="text" name="firstName">
        
        <label for="secondName">Last Name:</label>
        <input type="text" name="secondName">

        <label for="birthday">Date of Birth:</label>
        <input type="date" name="birthday">

        <label for="email">Email:</label>
        <input type="email" name="email">

        <label for="phone">Phone:</label>
        <input type="text" name="phone" (keydown)="filterPhone($event)">

        <label for="address">Address:</label>
        <input type="text" name="address">

        <label>Gender:</label>
        <mat-form-field appearance="fill">
            <mat-select>
                <mat-option value="Male">
                    Male
                </mat-option>
                <mat-option value="Female">
                    Female
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div class="box">
            <div class="section-title">Profile photo 📷</div>
            <div class="photo-ctn">
                <img class="photo" src="/assets/avatar.png" alt="avatar">
            </div>
            <input class="photo-input" #photoInput type="file" (change)="uploadPhoto(photoInput)">
            <button class="student-btn" (click)="photoInput.click()">Upload</button>
        </div>
        <div class="password box">
            <div class="section-title">Change password 🔒</div>
            <input type="password" placeholder="Old Password" #oldPass (keyup)="updateCanChangePassword(oldPass, newPass1, newPass2)">
            <input type="password" placeholder="New Password" #newPass1 (keyup)="updateCanChangePassword(oldPass, newPass1, newPass2)">
            <input type="password" placeholder="New Password" #newPass2 (keyup)="updateCanChangePassword(oldPass, newPass1, newPass2)">
            <output>{{errorMessage}}</output>
            <button class="student-btn"
                    [disabled]="errorMessage !== ''"
            >
                Change password
            </button>
        </div>
    </div>
</div>