<!-- <input type="hidden" id="header" name="page" value="header" /> -->
<div class="container-center-horizontal">
    <video class="profforyou-hero-video-1" loop autoplay="autoplay">
        <source src="/assets/profforyou-hero-video.mp4" type="video/mp4">
    </video>
    <form class="header screen" name="form1" action="form1" method="post">

        <div class="header-logo">
        </div>
        <h1 class="header-title">Find Now Your Favourite Tutors &nbsp; Learn Anything</h1>
        <div class="header-sub-heading">Choose a subject tutor and master the skills</div>
       
        <div class="header-search-bar-ctn">
            <div class="header-search-bar">
                <img class="header-search-bar-search-icon" src="assets/header-search-bar-search-icon@2x.svg" />
                <select [(ngModel)]="searchSubject" class="header-search-bar-placeholder"
                    name="header-search-bar-placeholder">
                    <option *ngFor="let subject of subjects">
                        {{subject}}
                    </option>
                </select>
            </div>
            <button class="header-cta" (click)="search()">
                Find a Tutor
            </button>
        </div>
       
        <div class="stars-trusted-ctn">
            <div class="trusted-by-over-1000-students ubuntu-normal-white-24px">Trusted by over 1000+ students</div>
            <div class="header-stars">
                <div class="header-stars-star-5"><img src="assets/vector@2x.svg" /></div>
                <div class="header-stars-star-4"><img src="assets/vector@2x.svg" /></div>
                <div class="header-stars-star-3"><img src="assets/vector@2x.svg" /></div>
                <div class="header-stars-star-2"><img src="assets/vector@2x.svg" /></div>
                <div class="header-stars-star-1"><img src="assets/vector@2x.svg" /></div>
            </div>
        </div>
    </form>
</div>
<!-- <input type="hidden" id="section-1" name="page" value="component-1" /> -->
<section class="service">
    <img src="assets/asset-5-1@2x.png" alt="We Are Providing Best Service To Our Students" />
    <div class="service-info flex-col">
        <h1 class="title">We Are Providing Best Service To Our Students</h1>
        <div class="sub-title">Our teaching guidance help our students to grow</div>
        <div class="our-teaching-guidance">Our teaching guidance help our students to grow</div>
        <a routerLink="/donation">
            <button class="explore-more-2">
                Explore More
            </button>
        </a>
    </div>
</section>
<section class="subject">
    <h1 class="title">The Process of Finding Perfect Tutor For Your Subject</h1>

    <div class="line">
        <div class="subject-icon">
            <img src="assets/section-3-step-1-icon@2x.png" alt="Our teaching guidance help our students to grow">
        </div>
        <div class="description">
            Our teaching guidance help our students to grow
        </div>
    </div>
    <div class="line">
        <div class="subject-icon">
            <img src="assets/section-3-step-2-icon@2x.png" alt="Get your best top 10 tutors">
        </div>
        <div class="description">
            Get your best top 10 tutors
        </div>
    </div>
    <div class="line">
        <div class="subject-icon">
            <img src="assets/section-3-step-3-icon@2x.png" alt="Select your perfect tutor and start studying">
        </div>
        <div class="description">
            Select your perfect tutor and start studying
        </div>
    </div>
</section>