<input type="hidden" id="header" name="page" value="header" />
<div class="container-center-horizontal">
    <form class="header screen" name="form1" action="form1" method="post">
        <video class="video" autoplay loop>
            <source src="/assets/profforyou-hero-video (1).mp4" type="video/mp4">
        </video>
        <div class="header-logo">
        </div>
        <h1 class="header-title">Find Now Your Favourite Tutors &nbsp; Learn Anything</h1>
        <div class="header-sub-heading">Choose a subject tutor and master the skills</div>
        <div class="trusted-by-over-1000-students ubuntu-normal-white-24px">Trusted by over 1000+ students</div>
        <button class="header-cta" (click)="search()" type="button">
            Find a Tutor
        </button>

        <div class="header-search-bar">
            <img class="header-search-bar-search-icon" src="assets/header-search-bar-search-icon@2x.svg" />

            <select [(ngModel)]="searchSubject" class="header-search-bar-placeholder"
                name="header-search-bar-placeholder">
                <option *ngFor="let subject of subjects">
                    {{subject}}
                </option>
            </select>
        </div>
        <div class="header-stars">
            <div class="header-stars-star-5"><img class="vector-1" src="assets/vector@2x.svg" /></div>
            <div class="header-stars-star-4"><img class="vector-2" src="assets/vector@2x.svg" /></div>
            <div class="header-stars-star-3"><img class="vector-3" src="assets/vector@2x.svg" /></div>
            <div class="header-stars-star-2"><img class="vector-4" src="assets/vector@2x.svg" /></div>
            <div class="header-stars-star-1"><img class="vector-5" src="assets/vector@2x.svg" /></div>
        </div>
    </form>
</div>
<input type="hidden" id="section-1" name="page" value="component-1" />
<div class="container-center-horizontal">
    <div class="component-1 screen">
        <div class="explore-more-1"></div>
        <a routerLink="/donation">
            <button class="explore-more-2" type="button">
                Explore More
            </button>
        </a>
        <div class="our-teaching-guidance">Our teaching guidance help our students to grow</div>
        <h1 class="title-1">We Are Providing Best Service To Our Students</h1>
        <div class="asset-1"><img class="asset-2" src="assets/asset-5-1@2x.png"
                alt="We Are Providing Best Service To Our Students" /></div>
    </div>
</div>
<div style="margin: 0">
    <input type="hidden" id="section-3" name="page" value="component-1" />
    <div class="container-center-horizontal">
        <div class="component-1 screen">
            <div class="section-3"></div>
            <h1 class="section-3-heading">The Process of Finding Perfect Tutor For Your Subject</h1>
            <div class="section-3-step-1">
                <div class="section-3-step-1-image">
                    <img class="section-3-step-1-circle" src="assets/section-3-step-1-circle@2x.svg"
                        alt="White Circle" /><img class="section-3-step-1-icon"
                        src="assets/section-3-step-1-icon@2x.png"
                        alt="Our teaching guidance help our students to grow" />
                </div>
                <div class="section-3-step-1-text ubuntu-normal-black-28px">
                    Our teaching guidance help our students to grow
                </div>
            </div>
            <div class="section-3-step-2">
                <div class="section-3-step-2-image">
                    <img class="section-3-step-circle" src="assets/section-3-step-1-circle@2x.svg"
                        alt="White Circle " /><img class="section-3-step-2-icon"
                        src="assets/section-3-step-2-icon@2x.png" alt="Get your best top 10 tutors" />
                </div>
                <div class="section-3-step-2-text ubuntu-normal-black-28px">Get your best top 10 tutors</div>
            </div>
            <div class="frame-17">
                <div class="section-3-step-3-image">
                    <img class="section-3-step-3-circle" src="assets/section-3-step-1-circle@2x.svg"
                        alt="White Circle" /><img class="section-3-step-3-icon"
                        src="assets/section-3-step-3-icon@2x.png" alt="Select your perfect tutor and start studying" />
                </div>
                <div class="section-3-step-3-text ubuntu-normal-black-28px">
                    Select your perfect tutor and start studying
                </div>
            </div>
        </div>
    </div>
</div>