@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #b30000;
  font-family: 'Open Sans', sans-serif;
}

.login {
  width: 300px;
  margin: 16px auto;
  font-size: 16px;
  padding:90px;
  box-shadow: 2px 2px 16px -7px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 90px auto;
  
 
}


@media screen and (max-width: 480px) {
  .login {
    width: 100%;
    box-shadow: none;
    padding: 50px 0;
  }
}

/* Reset top and bottom margins from certain elements */
.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;

}



.login-header {
  background: #b30000;
  padding: 19px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  padding-right: 61px;
  padding-left:40px;
  width:149px;
  
}

.login-container {
  background: #ffff;
  padding: 12px;

  
}

/* Every row inside .login-container is defined with p tags */
.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #b30000;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
   padding-right:32px; 
  font-size:20px;
 border-radius: 10px;
 padding-left:26px;
 width: 161px;
 margin-left:14px;
}

.login input[type="submit"]:hover {
  background:#000000;
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
  border-color: #b30000;
}
.forgot-password {
margin-left: 74px;
}


.login .email:invalid {
  border:solid 2px #b30000;
}

.login .password:invalid {
  border:solid 2px #b30000;
}