<div class="login">
    <div class="login-triangle"></div>

    <h2 class="login-header">Sign-in</h2>

    <form class="login-container">

        <p><input [formControl]="email" type="email" placeholder="Email" required></p>
        <div [hidden]="email.valid || name.pristine" class ="alert alert-danger">
            Email is required
        </div>
        <!--<span *ngIf="!login-container.get('email').valid && login-container.get('email').touched "
            class="help-block">Please enter a valid email </span> -->

        <p><input [formControl]="password" type="password" placeholder="Password"></p>

        <p><button (click)="forgotPasword()">forgot password ?</button></p>

        <p><input type="submit" (click)="createUser()" value="Sign-in"></p>

    </form>
</div>