:host {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-ctn {
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
}

.grid-ctn > .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}

.example-card {
    max-width: 250px;
    border-radius:15px;
    /* margin-top:150px;
    margin-left:80px; */
    /* justify-content: s; */
}
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
   
  
  }

  .content {
    padding: 16px;
}

.content > mat-card {
    /* width: 200px; */
}