<div   fxLayout="row" fxLayoutAlign="space-around center">

    <div flex>
        try it for freee
        1 week
        <button> try for free </button>
    </div>

    <div flex>
        3 month subscription
        price 20 /month
        <button (click)="subscribeThreeMonths()">subscribe</button>
    </div>
    <div flex>
        6 month subscription
        price 15 /monh
        <button (click)="subscribeSixMonths()">subscribe</button>
    </div>
    <div flex>
        12 month subscription
        price 10 /monh
        <button (click)="subscribeOneYear()">subscribe</button>
    </div>
</div>