.subscriptions-ctn {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 880px) {
  .subscriptions-ctn {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .subscriptions-ctn {
    grid-template-columns: repeat(1, 1fr);
  }
}

.subscription {
  border-radius: 15px;
  margin: 10px;
  padding: 30px;
  background-color: whitesmoke;
  transition: .3s all;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;

  
  height: 300px;
  box-shadow: 5px 8px 14px -13px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.info .title {
  color: #000;
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}

.info .cost {
  color: var(--color);
  font-size: x-large;
}

.info hr {
  background-color: var(--color);
  width: 80%;
  border: none;
  height: 2px;
  border-radius: 2px;
  margin: 16px 0;
}

.subscription > p {
  font-size: larger;
}

.subscription.red {
  --color: rgba(102, 9, 9, 0.877);
}

.subscription.blue {
  --color: rgb(4, 0, 255);
}

.subscription.green {
  --color: rgb(72, 255, 0);
}

.subscription.black {
  --color: rgb(0, 0, 0);
}

.subscription:hover {
  box-shadow: 5px 8px 14px -9px;
  margin-top: 5px;
}

.subscription > button {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  color: var(--color);
  border: 2px solid var(--color);
  padding: 17px 25px;
  font-size: larger;
  font-weight: 600;
}