<div  fxLayout="column" fxLayoutAlign="end start">
    <div flex>
        3 month subscription
        price 20 /month
        lkdlsdklsdklsdk
    </div>
    <div flex>
        3 month subscription
        price 20 /month
        lkdlsdklsdklsdk
    </div>
    <div flex>
        3 month subscription
        price 20 /month
        lkdlsdklsdklsdk
    </div>
    ----------------------------
    <div flex>
        3 month subscription
        price 20 /month
        <button (click)="subscribeThreeMonths()">subscribe</button>
    </div>
    
</div>