.grid-ctn {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    height: 300px;
    width: 200px;
}

.grid-ctn > * {
    grid-column: 1;
    grid-row: 1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
}

.send-btn {
    color: #fff;
    background-color: #b30000;
    width: 150px;
    cursor: pointer;
    border: none;
    margin-top:10px;
    height:30px;
   border-radius: 10px;
   /* z-index: 1; */
   box-shadow: 2px 2px 15px;
}

.confirm {
    background: #fff;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: fade-in .5s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}