<div class="grid-ctn">
   <form class="container">
      <p>Reset your password</p>
      <!-- <label for="email">Reset your Password</label> -->
      <input [formControl]="email" type="email" placeholder="Email">

      <div class="form-control-feedback" 
           *ngIf="email.errors && (email.dirty || email.touched)">

         <p *ngIf="email.errors.required">Email is required</p>
         <p *ngIf="email.errors.pattern"> The email address must contain at least the @ character</p>

      </div>

      <button class="send-btn" (click)="sent=true">Send</button>

   </form>
   <h3 *ngIf="sent" class="confirm">
      Email sent, please look at your mail-box
   </h3>
</div>