@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    
    font-family: Ubuntu;
    font-style: normal;
    scroll-behavior: smooth;
    
  }
 
  .title-ctn{
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
padding-bottom: 50px;
      height: 550px;
      background-image: url("../../../assets/about-us-img.png");
  }
  .title{
      font-size: 80px;
      font-weight: bold;
      color:#ffffff;
      justify-content: center;
      align-items: center;
      padding-top: 100px;
      
  }
.section {
   
    width:100%;
    height: 160px;
    font-weight: normal;
    text-align: center;
    /* margin-bottom: px; */
    font-size:30px;

}



.donate{
   /* padding: 50px 0px; */
    height: 680px;

    display:flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    background-image: url("../../../assets/donate-img.png");
   color:#ffffff;
   margin-top: 400px;
   margin-bottom: 100px;
}

 .social-getintouch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:flex-start ;
    padding: 100px 10px 100px;
   margin-left: 100px;
    height: 300px;
    padding-left: 30px;
   

} 
.get-in-touch{
    padding-right: 50px;
    font-size: 30px;
    font-weight:450;
    
    
}

.card-ctn{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    padding: 0px 100px;
    margin-top:90px;
}
.test{
    margin-top: 280px;
    font-size: 44px;
    justify-content: center;
    align-items: center;
    
}


 .card-img {
  height:200px;

padding:0px 100px;


 }



  .card-title{
display:flex;
justify-content: center;
height: 70px;
    padding: 0px 30px;
font-size: 33px;
line-height:35px;




  }
.card-description{
    /* font-size: medium; */
    padding: 0px 100px;
   margin-top: 40px;
    justify-content: space-around;
    font-style: normal;
    font-size: 19px;
    align-items:flex-start;

}
.red{
    color: #b30000;
    font-weight:bold;
}

.section-wrapper{
    padding-top: 200px;
    height: 1000px;
    font-style: normal;
    font-weight: normal;
    background-color: #F6F6F6;
}
 .size{
font-size: 55px;
}
.donate-btn{
    font-size: 24px;
    background-color: #b30000;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    width:141px;
    height:48px;
  
    
}
