<div>
    <div>
       <h1> our mission</h1>
       <button>Arrowdown- idon</button>
    </div>
    <div>
        <p>We are an advanced digital platform in online learning for students.</p>

        <p>Our aim is to enhance the quality of teaching. To do so, we have tutors all over the globe, the most flexible and competent.</p>

        <p>Profforyou enables students</p>
    </div>
    <div>
        <div>
            Some facts about foryou
        </div>
        <div>
            <div class="frist element">
                <div class="card">
                    <img src="assets/">
                </div>
                <div>
                    <div>
                        <h5>Advanced learning</h5>
                    </div>
                    <div>
                        <p>The variety of competentent tutors</p>
                    </div>
                </div>
            </div>
            <div class="second element">
                <div class="card">
                    <img src="assets/">
                </div>
                <div>
                    <div>
                        <h5>Advanced learning</h5>
                    </div>
                    <div>
                        <p>The variety of competentent tutors</p>
                    </div>
                </div>
            </div>
            <div class="third element">
                <div class="card">
                    <img src="assets/">
                </div>
                <div>
                    <div>
                        <h5>Advanced learning</h5>
                    </div>
                    <div>
                        <p>The variety of competentent tutors</p>
                    </div>
                </div>
            </div>
            <div class="fourth element">
                <div class="card">
                    <img src="assets/">
                </div>
                <div>
                    <div>
                        <h5>Advanced learning</h5>
                    </div>
                    <div>
                        <p>The variety of competentent tutors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="donate section">
        <h2>Donate</h2>
        <p>
            We are always looking for people to help students in ...
        </p>
        <div>
            <button>Donate</button>
        </div>
    </div>
    <div class="sociale networks">
        <p>Get in touch</p>
        <button>Linkedin</button>
        <button>Facebook</button>
        <button>Github</button>
    </div>
</div>

